html, body, *{
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.screen {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.top15 {
  height: 15rem;
}


.middle70{
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v8 {
  width: 70rem;
  height: 8.75rem;
  display: flex;
  flex-direction: row;
}

.square {
  width: 8.75rem;
  background-color: white;
  position: relative;
  align-items: center;
}
.square1 {
  width: 8.75rem;
  background-color: darksalmon;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom15{
  height: 15rem;
  
}



/* --------pieces-------- */

.piece{
  height:100%;
  width:100%;
  position: absolute;
  z-index: 10;
}