html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.screen {
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
}

.top15 {
  height: 15rem;
}

.middle70 {
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v8 {
  width: 70rem;
  height: 8.75rem;
  display: flex;
  flex-direction: row;
}

.square,
.square1,
.template {
  width: 8.75rem;
  height: 8.75rem;
  position: relative;
  z-index: 1; /* Pieces above the numbers */
}

.square {
  background-color: white;
  /* background-image: url(https://img.freepik.com/free-vector/clean-white-marble-texture-banner_1017-37164.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
}

.square1 {
  background-image: url(https://static.vecteezy.com/system/resources/previews/018/910/484/non_2x/ice-cubes-background-ice-cube-texture-or-background-it-makes-me-feel-fresh-and-feel-good-in-the-summer-ice-and-cold-drinks-will-make-us-feel-relaxed-made-for-beverage-or-refreshment-business-free-photo.jpg);
  background-color: rgba(144, 222, 255, 0.978);
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  background-size: 1277%;
}

.back1 {
  position: absolute;
  z-index: 2;
  font-size: 12px;
  top: 4%;
  left: 4%;
  font: 700;
}
.back {
  position: absolute;
  z-index: 2;
  font-size: 12px;
  bottom: 4%;
  right: 4%;
  font: 700;
}

.bottom15 {
  height: 15rem;
}

/* --------pieces-------- */
.piece, .whitepiece {
  height: 100%;
  width: 100%;
  z-index: 3; /* Ensure pieces are above both square and back */
  position: absolute; /* Position absolutely inside the square */
  cursor: grab;
}
